@model MoviePoint.ViewModel.RegistrationViewModel

@{
    Layout = "_NavAndFooterLayout";
    ViewData["Title"] = "Registration";
}

@*<partial name="_Nav"></partial>*@
@*<h1>Registration</h1>*@

@*<h4>RegistrationViewModel</h4>*@
@*<hr />*@
<div class="row">
    <div class="col-md-5 my-2 mx-auto">
        <form asp-action="Registration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
                <a asp-action="Login" class="btn btn-dark mx-2">Login</a>
            </div>
        </form>
        @*<div>
            <a asp-action="Login" class="btn btn-dark">Login</a>
        </div>*@
    </div>
</div>


@*<partial name="_Footer"></partial>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
